<img class="logo" src="../../assets/images/IU-Quiz_Logo.png" alt="Logo" />
<div class="kategorie">
  <span class="kategorie_text">{{ fragen[0].kategorie }}</span>
</div>
<div class="frage">{{ fragen[0].frage }}</div>
<div class="panelCheckMark">
  <div [ngClass]="{ rightAnswer: isRightAnswer, checkMark: notAnswered }"><span class="check" *ngIf="isRightAnswer">&#10004;</span></div>
  <div [ngClass]="{ rightAnswer: isRightAnswer, checkMark: notAnswered }"><span class="check" *ngIf="isRightAnswer">&#10004;</span></div>
  <div [ngClass]="{ rightAnswer: isRightAnswer, checkMark: notAnswered }"><span class="check" *ngIf="isRightAnswer">&#10004;</span></div>
  <div [ngClass]="{ rightAnswer: isRightAnswer, checkMark: notAnswered }"><span class="check" *ngIf="isRightAnswer">&#10004;</span></div>
  <div [ngClass]="{ rightAnswer: isRightAnswer, checkMark: notAnswered }"><span class="check" *ngIf="isRightAnswer">&#10004;</span></div>
  <div [ngClass]="{ rightAnswer: isRightAnswer, checkMark: notAnswered }"><span class="check" *ngIf="isRightAnswer">&#10004;</span></div>
  <div [ngClass]="{ rightAnswer: isRightAnswer, checkMark: notAnswered }"><span class="check" *ngIf="isRightAnswer">&#10004;</span></div>
  <div [ngClass]="{ rightAnswer: isRightAnswer, checkMark: notAnswered }"><span class="check" *ngIf="isRightAnswer">&#10004;</span></div>
  <div [ngClass]="{ rightAnswer: isRightAnswer, checkMark: notAnswered }"><span class="check" *ngIf="isRightAnswer">&#10004;</span></div>
  <div [ngClass]="{ rightAnswer: isRightAnswer, checkMark: notAnswered }"><span class="check" *ngIf="isRightAnswer">&#10004;</span></div>
</div>
<div class="panel">
  <div class="antwort">{{ fragen[0].antwort[0] }}</div>
  <div class="antwort">{{ fragen[0].antwort[1] }}</div>
</div>
<div class="panel">
  <div class="antwort">{{ fragen[0].antwort[2] }}</div>
  <div class="antwort">{{ fragen[0].antwort[3] }}</div>
</div>
