$yellow-color: #F6FF63;
$purple-color: #6C63FF;
$grey-color: #CCCCCC;
$black-color: #000000;
$green-color: #2FAB73;

.panel{
  display: flex;
  justify-content: center;
}

.panelCheckMark{
  display: flex;
  justify-content: center;
}

.rightAnswer{
  background-color: $green-color;
  margin: 1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  cursor: pointer;
  }

.checkMark{
  margin: 1rem;
  width: 2rem;
  height: 2rem;
  background-color: $grey-color;
  border-radius: 50%;
  cursor: pointer;
}

.check{
  margin-top:0.2rem;
  display:flex;
  align-items: center;
  justify-content: center;
}

.rightAnswer{
  background-color: $green-color;
}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 30%;
  align-items: center;
}

.kategorie{
  position: relative;
  top: 3.1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  width: 20%;
  height: 10%;
  background-color: $yellow-color;
  border-radius: 0 0 30px 30px;
}

.kategorie_text{
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: $black-color;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.frage{
  margin-left: auto;
  margin-right: auto;
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  width: 50%;
  height: 50%;
  font-size: 2em;
  font-weight: bold;
  color: white;
  background-color: $purple-color;
  border-radius: 30px;
}

.antwort {
  padding: 2rem;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  width: 50%;
  height: 50%;
  font-size: 1.5rem;
  font-weight: bold;
  color: $purple-color  ;
  background-color: $grey-color;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
