<img class="logo" src="../../assets/images/IU-Quiz_Logo.png" alt="Logo" />
<div class="kategorie">
  <span class="kategorie_text">{{ fragen[0].kategorie }}</span>
</div>
<div class="frage">{{ fragen[0].frage }}</div>
<div class="panelCheckMark">
  <div [ngClass]="{ rightAnswer: isRightAnswer[0], wrongAnswer: !isRightAnswer[0] }"><span class="check" *ngIf="isRightAnswer[0]">&#10004;</span><span class="cross" *ngIf="getWrongAnswer(0)">x</span></div>
  <div [ngClass]="{ rightAnswer: isRightAnswer[1], wrongAnswer: !isRightAnswer[1] }"><span class="check" *ngIf="isRightAnswer[1]">&#10004;</span><span class="cross" *ngIf="getWrongAnswer(1)">x</span></div>
  <div [ngClass]="{ rightAnswer: isRightAnswer[2], wrongAnswer: !isRightAnswer[2] }"><span class="check" *ngIf="isRightAnswer[2]">&#10004;</span><span class="cross" *ngIf="getWrongAnswer(2)">x</span></div>
  <div [ngClass]="{ rightAnswer: isRightAnswer[3], wrongAnswer: !isRightAnswer[3] }"><span class="check" *ngIf="isRightAnswer[3]">&#10004;</span><span class="cross" *ngIf="getWrongAnswer(3)">x</span></div>
  <div [ngClass]="{ rightAnswer: isRightAnswer[4], wrongAnswer: !isRightAnswer[4] }"><span class="check" *ngIf="isRightAnswer[4]">&#10004;</span><span class="cross" *ngIf="getWrongAnswer(4)">x</span></div>
  <div [ngClass]="{ rightAnswer: isRightAnswer[5], wrongAnswer: !isRightAnswer[5] }"><span class="check" *ngIf="isRightAnswer[5]">&#10004;</span><span class="cross" *ngIf="getWrongAnswer(5)">x</span></div>
  <div [ngClass]="{ rightAnswer: isRightAnswer[6], wrongAnswer: !isRightAnswer[6] }"><span class="check" *ngIf="isRightAnswer[6]">&#10004;</span><span class="cross" *ngIf="getWrongAnswer(6)">x</span></div>
  <div [ngClass]="{ rightAnswer: isRightAnswer[7], wrongAnswer: !isRightAnswer[7] }"><span class="check" *ngIf="isRightAnswer[7]">&#10004;</span><span class="cross" *ngIf="getWrongAnswer(7)">x</span></div>
  <div [ngClass]="{ rightAnswer: isRightAnswer[8], wrongAnswer: !isRightAnswer[8] }"><span class="check" *ngIf="isRightAnswer[8]">&#10004;</span><span class="cross" *ngIf="getWrongAnswer(8)">x</span></div>
  <div [ngClass]="{ rightAnswer: isRightAnswer[9], wrongAnswer: !isRightAnswer[9] }"><span class="check" *ngIf="isRightAnswer[9]">&#10004;</span><span class="cross" *ngIf="getWrongAnswer(9)">x</span></div>
</div>
<div class="panel">
  <div class="antwort">{{ fragen[0].antwort[0] }}</div>
  <div class="antwort">{{ fragen[0].antwort[1] }}</div>
</div>
<div class="panel">
  <div class="antwort">{{ fragen[0].antwort[2] }}</div>
  <div class="antwort">{{ fragen[0].antwort[3] }}</div>
</div>
