$black-color: #000000;
$purple-color: #6C63FF;
$white-color: #FFFFFF;
$green-color: #2FAB73;

.panel{
  display: flex;
  justify-content: center;
  }

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  height: 10%;
  align-items: center;
}
