<div class="gamePage">
  <img class="logo" src="../../assets/images/IU-Quiz_Logo.png" alt="Logo" />
  <div class="kategorie">
    <span class="kategorie_text">{{ message[i].kategorie }}</span>
  </div>
  <div class="frage">{{ message[i].frage }}</div>
  <div class="panelCheckMark">
    <div *ngFor="let item of message; let i = index">
      <div
        [ngClass]="{
          rightAnswer: isRightAnswer[i],
          wrongAnswer: !isRightAnswer[i]
        }"
      >
        <span class="check" *ngIf="isRightAnswer[i]">&#10004;</span
        ><span class="cross" *ngIf="getWrongAnswer(i)">x</span>
      </div>
    </div>
  </div>
  <div class="panel">
    <button class="antwort" (click)="checkAnswer(1)">
      {{ message[i].antworten.antwort1 }}
    </button>
    <button class="antwort" (click)="checkAnswer(2)">
      {{ message[i].antworten.antwort2 }}
    </button>
  </div>
  <div class="panel">
    <button class="antwort" (click)="checkAnswer(3)">
      {{ message[i].antworten.antwort3 }}
    </button>
    <button class="antwort" (click)="checkAnswer(4)">
      {{ message[i].antworten.antwort4 }}
    </button>
  </div>
</div>
