<img class="logo" src="../../assets/images/IU-Quiz_Logo.png" alt="Logo" />

<mat-menu #appMenu="matMenu">
  <button class="Untermenue" mat-menu-item>Benutzerprofil</button>
  <button class="Untermenue" mat-menu-item>Einstellungen</button>
</mat-menu>
<button class="menu" mat-flat-button [matMenuTriggerFor]="appMenu">Menü</button>

<div class="headline">Spielmodus wählen:</div>

<div class="panel">
<button class= "Playmodus" onclick = "window.location.href='http://localhost:4200/game'">Single-Player Modus
<img class="image" src="../../assets/images/undraw_Visualization.png" />
</button>

<button class="Playmodus" onclick = "window.location.href='http://localhost:4200/game'">Multi-Player Modus
 <img class="image" src="../../assets/images/undraw_Visualization.png"  />
    </button>
</div>

